.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #242204;
    background: #463116;
    padding: 20px;
    width: 50vw;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.signup-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.signup-field {
    margin: 10px;
}

.input-field {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #35150f;
    color: rgba(134, 96, 24, 0.274);
    padding: 10px;
}

.input-field:focus {
    outline: none;
    border: 1px solid #412505;

}

.signup-button {
    margin: 10px;
}

.signup-button > button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #e0aa13;
    background: #4d2c16;
    cursor: pointer;
}

.signup-button > button:hover {
    background: #4d260c;
}
